.Rproj.user
.Rhistory
.RData
.Ruserdata
problem-sets/ps3/Luis Fiegl_Uebungsblatt_3.ups
problem-sets/ps3/Uebungsblatt_3__Luis Fiegl.sub
problem-sets/ps3/Uebungsblatt_3.log
problem-sets/ps3/Uebungsblatt_3.Rmd
